@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap");

/* ---- Body ---- */

body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: "Monserrat", sans-serif;
}

* {
    box-sizing: border-box;
}

/* ---- Logo ---- */

#logo {
    margin: 20px;
    text-align: center;
}

/* ---- Quiz---- */
.quiz {
    height: 490px;
    width: 600px;
    background-color: #d3d3d3;
    margin: 0px auto;
    border-radius: 24px;
    padding: 25px;
    float: center;
}

/* ---- Question Quiz ---- */

.quiz .question {
    min-height: 50px;
    border-radius: 24px;
    color: black;
    padding: 15px;
    float: center;
    width: 100%;
    font-size: 25px;
}

/* ---- Options Quiz ---- */

.quiz .options {
    width: 100%;
    cursor: pointer;
    float: center;
}

/* ---- Options ul ---- */

.quiz .options ul {
    list-style: none;
    padding: 0%;
    display: flex;
    display: inline-block;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* ---- Quiz li ---- */

.quiz .options ul li {
    display: inline-block;
    background-color: #062588;
    width: 46%;
    padding: 15px;
    border-radius: 24px;
    margin-bottom: 30px;
    margin: 10px;
    color: white;
    cursor: pointer;
}

/* ---- Correct li ---- */

.quiz .options ul li.correct {
    background-color: rgb(45, 182, 45);
}

/* ---- wrong li ---- */

.quiz .options ul li.wrong {
    background-color: rgb(240, 57, 57);
}

.quiz .options ul li:active {
    box-shadow: 0px 0px 0px rgb(84, 110, 179);
}

/* ---- Score ---- */

.quiz .score {
    width: 100%;
    cursor: pointer;
    float: left;
}

/* ---- next button ---- */

.quiz .score .next {
    width: 40%;
    float: left;
}

/* ---- Correct li ---- */

.quiz .score .next button {
    padding: 10px 70px;
    color: white;
    background-color: #fd5e7b;
    border: none;
    border-radius: 24px;
    cursor: pointer;
}

/* ---- Score cards ---- */

.quiz .score .score-card {
    width: 1px;
    line-height: 40px;
    font-size: 20px;
    float: right;
}

/* ---- score card - span ---- */

.quiz .score .score-card span {
    background-color: rgb(71, 109, 160);
    padding: 5px 20px;
    border: none;
    color: white;
    border-radius: 24px;
}

