@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#first_name {
    font-size: 70px;
    text-align: center;
    background-repeat: no-repeat;
    font-family: 'Ephesis', cursive;
    text-transform: uppercase;
    padding: 30px;   
}

#quiz_container {
    text-align: center;
    background-color: lightgray;
    text-align: center;
    background-repeat: no-repeat;
    padding: 5px;
    margin: 20px;
}

.button {
    background-color: blue;
    border-radius: 40px;
    color: white;
    padding: 10px;
    display: block;
    margin: 20px 530px;
    font-size: 18px;
    width: 20%;
}